nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-width: 10vh;
    background: #efefef ;
    color: white;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}